<p id="notice"><%= notice %></p>

<h1>Listing Polygons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @polygons.each do |polygon| %>
      <tr>
        <td><%= polygon.name %></td>
        <td><%= link_to 'Show', polygon %></td>
        <td><%= link_to 'Edit', edit_polygon_path(polygon) %></td>
        <td><%= link_to 'Destroy', polygon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Polygon', new_polygon_path %>
